.amarillo{
    color: yellow;
}

.rojo{
    color: red;
}

.violeta{
    color: blueviolet;
}

.verde{
    color: green;
}

.anaranjado{
    color: orange;
}

.marron{
    color: peru;
}

.claro{
    color: salmon;
}